@charset "UTF-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    color: #333;
}

a {
    text-decoration: none; display: block;
}

body {
    min-width: 1200px;
    height: 700px;
}

header {
    width: 100%;
    background-color: aquamarine;
}

.top {
    width: 1200px;
    height: 100px;
}

.logo1 {
    float: left;
    width: 200px;
    height: 100px;
    background-color: rgb(191, 126, 252);
}

.menu {
    float: left;
    width: 1000px;
    height: 100px;
    background-color: rgb(194, 129, 255);
    position: relative;
}

.bgmenu {
    width: 1200px;
    height: 160px;
    background-color: rgb(136, 138, 250);
    position: absolute;
    top: 100px;
    left: -200px;
    display: none;
}

.main {
    position: absolute;
    top: 50px;
    left: 380px;
}

.main>li {
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: chartreuse;
}

.sub {
    display: none;
}

.sub>li {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(136, 138, 250);
}


.main>li:hover >a {
    background-color: darkblue; color: #fff;
}

.sub>li:hover >a {
    background-color: darkcyan; color: #fff;
}

.img_s {
    width: 1200px;
    height: 300px;
    background-color: rgb(247, 0, 255);
}

.contents {
    width: 1200px;
    height: 200px;
}

.no {
    float: left;
    width: 400px;
    height: 200px;
    background-color: chocolate;
}

.gal {
    float: left;
    width: 400px;
    height: 200px;
    background-color: chocolate;
}

.sc {
    float: left;
    width: 400px;
    height: 200px;
    background-color: chocolate;
}

footer {
    width: 100%;
    background-color: aquamarine;
}

.bottom {
    width: 1200px;
    height: 100px;
}

.copy {
    width: 1000px;
    height: 100px;
    float: left;
    background-color: darkturquoise;
}

.bottom_right {
    float: left;
    width: 200px;
    height: 100px;
}

.sns {
    width: 200px;
    height: 50px;
    background-color: darkturquoise;
}

.fs {
    width: 200px;
    height: 50px;
    background-color: darkturquoise;
}